In [107]:
import talib
from datas import sync
import pandas as pd
import numpy as np
from quant import db
import sys
import talib
import matplotlib.pyplot as plt
from datas import config
import sys
%matplotlib inline

In [9]:
data=pd.read_sql(sql="select * from prices_B where code='BIDU'",con=db.session.connection())
data

,Date,Code,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2005-08-05,BIDU,66.000,151.2100,60.000,122.5400,22681100.0,0.0,1.0,6.600,15.1210,6.000,12.2540,226811000.0
1,2005-08-08,BIDU,137.750,153.9800,115.240,115.5000,15488900.0,0.0,1.0,13.775,15.3980,11.524,11.5500,154889000.0
2,2005-08-09,BIDU,120.500,125.3000,95.690,96.1000,8667700.0,0.0,1.0,12.050,12.5300,9.569,9.6100,86677000.0
3,2005-08-10,BIDU,101.000,103.5000,88.300,91.7500,4963800.0,0.0,1.0,10.100,10.3500,8.830,9.1750,49638000.0
4,2005-08-11,BIDU,91.200,100.5000,90.600,97.9000,7324800.0,0.0,1.0,9.120,10.0500,9.060,9.7900,73248000.0
5,2005-08-12,BIDU,98.000,99.7500,94.580,95.0000,2994900.0,0.0,1.0,9.800,9.9750,9.458,9.5000,29949000.0
6,2005-08-15,BIDU,96.750,97.9800,92.500,93.0000,1929000.0,0.0,1.0,9.675,9.7980,9.250,9.3000,19290000.0
7,2005-08-16,BIDU,93.890,95.6100,90.800,91.5100,1857900.0,0.0,1.0,9.389,9.5610,9.080,9.1510,18579000.0
8,2005-08-17,BIDU,92.790,92.9900,85.110,85.8100,2016600.0,0.0,1.0,9.279,9.2990,8.511,8.5810,20166000.0
9,2005-08-18,BIDU,88.150,88.3600,81.650,82.4800,2216600.0,0.0,1.0,8.815,8.8360,8.165,8.2480,22166000.0
10,2005-08-19,BIDU,82.100,84.8600,79.390,79.5500,1818800.0,0.0,1.0,8.210,8.4860,7.939,7.9550,18188000.0
11,2005-08-22,BIDU,79.000,80.3300,72.130,72.6900,2517100.0,0.0,1.0,7.900,8.0330,7.213,7.2690,25171000.0
12,2005-08-23,BIDU,71.700,82.0000,71.540,82.0000,6657400.0,0.0,1.0,7.170,8.2000,7.154,8.2000,66574000.0
13,2005-08-24,BIDU,77.500,85.0000,75.000,77.8000,8765100.0,0.0,1.0,7.750,8.5000,7.500,7.7800,87651000.0
14,2005-08-25,BIDU,80.220,81.4000,78.020,79.0000,2696500.0,0.0,1.0,8.022,8.1400,7.802,7.9000,26965000.0
15,2005-08-26,BIDU,79.150,81.8500,78.310,78.8800,2468300.0,0.0,1.0,7.915,8.1850,7.831,7.8880,24683000.0
16,2005-08-29,BIDU,78.800,80.6400,77.620,78.6000,1339200.0,0.0,1.0,7.880,8.0640,7.762,7.8600,13392000.0
17,2005-08-30,BIDU,81.420,84.1700,80.620,81.0000,3813200.0,0.0,1.0,8.142,8.4170,8.062,8.1000,38132000.0
18,2005-08-31,BIDU,81.800,82.6500,80.500,81.0000,1088400.0,0.0,1.0,8.180,8.2650,8.050,8.1000,10884000.0
19,2005-09-01,BIDU,81.200,81.9500,78.510,78.9200,1067300.0,0.0,1.0,8.120,8.1950,7.851,7.8920,10673000.0
20,2005-09-02,BIDU,80.080,80.2000,76.500,78.0200,731300.0,0.0,1.0,8.008,8.0200,7.650,7.8020,7313000.0
21,2005-09-06,BIDU,78.980,79.3700,77.010,77.8000,712200.0,0.0,1.0,7.898,7.9370,7.701,7.7800,7122000.0
22,2005-09-07,BIDU,78.300,83.7000,77.300,82.5800,4039400.0,0.0,1.0,7.830,8.3700,7.730,8.2580,40394000.0
23,2005-09-08,BIDU,82.000,84.5000,81.570,83.5400,2508100.0,0.0,1.0,8.200,8.4500,8.157,8.3540,25081000.0
24,2005-09-09,BIDU,84.000,97.8500,83.480,96.3000,5902200.0,0.0,1.0,8.400,9.7850,8.348,9.6300,59022000.0
25,2005-09-12,BIDU,100.340,115.2800,99.800,112.2500,18177400.0,0.0,1.0,10.034,11.5280,9.980,11.2250,181774000.0
26,2005-09-13,BIDU,113.890,122.5000,108.510,113.5900,16118500.0,0.0,1.0,11.389,12.2500,10.851,11.3590,161185000.0
27,2005-09-14,BIDU,87.220,94.2100,80.990,81.3200,16660700.0,0.0,1.0,8.722,9.4210,8.099,8.1320,166607000.0
28,2005-09-15,BIDU,83.600,86.9400,80.010,82.0000,7783300.0,0.0,1.0,8.360,8.6940,8.001,8.2000,77833000.0
29,2005-09-16,BIDU,82.900,84.2700,77.680,78.3500,4988600.0,0.0,1.0,8.290,8.4270,7.768,7.8350,49886000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2749,2016-07-27,BIDU,164.000,165.6700,162.820,165.5000,2036274.0,0.0,1.0,164.000,165.6700,162.820,165.5000,2036274.0
2750,2016-07-28,BIDU,166.900,167.8600,165.150,165.6300,3594349.0,0.0,1.0,166.900,167.8600,165.150,165.6300,3594349.0
2751,2016-07-29,BIDU,161.010,161.5500,156.230,159.6000,7805402.0,0.0,1.0,161.010,161.5500,156.230,159.6000,7805402.0
2752,2016-08-01,BIDU,159.800,164.1100,158.620,163.2300,4229638.0,0.0,1.0,159.800,164.1100,158.620,163.2300,4229638.0
2753,2016-08-02,BIDU,162.160,164.5000,160.330,160.7500,1850839.0,0.0,1.0,162.160,164.5000,160.330,160.7500,1850839.0
2754,2016-08-03,BIDU,161.120,163.2000,160.130,162.2400,1740717.0,0.0,1.0,161.120,163.2000,160.130,162.2400,1740717.0
2755,2016-08-04,BIDU,162.720,164.1550,161.339,162.5600,1748307.0,0.0,1.0,162.720,164.1550,161.339,162.5600,1748307.0
2756,2016-08-05,BIDU,163.500,168.2400,163.205,167.3800,2991534.0,0.0,1.0,163.500,168.2400,163.205,167.3800,2991534.0
2757,2016-08-08,BIDU,167.150,169.4900,165.730,166.4500,1764725.0,0.0,1.0,167.150,169.4900,165.730,166.4500,1764725.0
2758,2016-08-09,BIDU,165.900,166.5558,164.680,165.5400,1292323.0,0.0,1.0,165.900,166.5558,164.680,165.5400,1292323.0
2759,2016-08-10,BIDU,166.460,167.4500,165.000,165.6300,1448263.0,0.0,1.0,166.460,167.4500,165.000,165.6300,1448263.0
2760,2016-08-11,BIDU,168.130,168.7500,166.510,167.7200,1548146.0,0.0,1.0,168.130,168.7500,166.510,167.7200,1548146.0
2761,2016-08-12,BIDU,167.570,168.5450,166.320,167.9800,1803191.0,0.0,1.0,167.570,168.5450,166.320,167.9800,1803191.0
2762,2016-08-15,BIDU,169.220,174.9600,169.000,172.9500,3438000.0,0.0,1.0,169.220,174.9600,169.000,172.9500,3438000.0
2763,2016-08-16,BIDU,173.000,174.4200,170.900,173.3000,2621253.0,0.0,1.0,173.000,174.4200,170.900,173.3000,2621253.0
2764,2016-08-17,BIDU,173.980,174.0000,172.010,172.7300,2421799.0,0.0,1.0,173.980,174.0000,172.010,172.7300,2421799.0
2765,2016-08-18,BIDU,173.030,175.8000,172.680,175.4000,2525963.0,0.0,1.0,173.030,175.8000,172.680,175.4000,2525963.0
2766,2016-08-19,BIDU,175.260,178.8800,174.860,177.5300,2891572.0,0.0,1.0,175.260,178.8800,174.860,177.5300,2891572.0
2767,2016-08-22,BIDU,177.880,178.0000,173.180,173.8500,2763716.0,0.0,1.0,177.880,178.0000,173.180,173.8500,2763716.0
2768,2016-08-23,BIDU,174.260,175.4100,173.160,173.4900,1798000.0,0.0,1.0,174.260,175.4100,173.160,173.4900,1798000.0
2769,2016-08-24,BIDU,174.040,175.0000,170.900,171.4900,1663072.0,0.0,1.0,174.040,175.0000,170.900,171.4900,1663072.0
2770,2016-08-25,BIDU,171.600,174.1000,171.470,172.8500,1331988.0,0.0,1.0,171.600,174.1000,171.470,172.8500,1331988.0
2771,2016-08-26,BIDU,172.850,175.6000,172.070,173.4700,1424322.0,0.0,1.0,172.850,175.6000,172.070,173.4700,1424322.0
2772,2016-08-29,BIDU,173.890,173.9000,171.480,173.6500,1643093.0,0.0,1.0,173.890,173.9000,171.480,173.6500,1643093.0
2773,2016-08-30,BIDU,174.225,177.7400,173.880,175.4500,1934563.0,0.0,1.0,174.225,177.7400,173.880,175.4500,1934563.0
2774,2016-08-31,BIDU,172.240,172.9800,169.850,171.0700,3036633.0,0.0,1.0,172.240,172.9800,169.850,171.0700,3036633.0
2775,2016-09-01,BIDU,171.850,176.8346,171.770,176.6175,3605270.0,0.0,1.0,171.850,176.8346,171.770,176.6175,3605270.0
2776,2016-09-02,BIDU,178.000,179.6800,177.190,177.7800,2133686.0,0.0,1.0,178.000,179.6800,177.190,177.7800,2133686.0
2777,2016-09-06,BIDU,181.700,189.3400,181.230,189.0600,8153359.0,0.0,1.0,181.700,189.3400,181.230,189.0600,8153359.0
2778,2016-09-07,BIDU,189.330,192.8800,188.610,189.1500,4232663.0,0.0,1.0,189.330,192.8800,188.610,189.1500,4232663.0

In [17]:
# 通过预运行的方式，能够让ide探知对象的具体类型，从而给出提示
close=data['Close']
close.values

array([ 122.54,  115.5 ,   96.1 , ...,  177.78,  189.06,  189.15])

In [25]:
#ema 的平滑指数alpha = 2 / (N+1), 其中的n为timeperiod，且第一个数的值为前n日的均值
ema=talib.EMA(close.values,timeperiod=2)
tm=np.vstack((close.values,ema))
tm[:,:10]

array([[ 122.54      ,  115.5       ,   96.1       ,   91.75      ,
          97.9       ,   95.        ,   93.        ,   91.51      ,
          85.81      ,   82.48      ],
       [          nan,  119.02      ,  103.74      ,   95.74666667,
          97.18222222,   95.72740741,   93.9091358 ,   92.30971193,
          87.97657064,   84.31219021]])

In [132]:
#sma紧紧是计算平均值，反应比较慢
df=pd.DataFrame(data={'close':close,'sma':talib.SMA(close,timeperiod=10)})
df[:15]
# np.mean(close[:10])

    close     sma
0   57.25     NaN
1   59.00     NaN
2   58.75     NaN
3   58.75     NaN
4   59.00     NaN
5   58.25     NaN
6   57.50     NaN
7   56.62     NaN
8   57.25     NaN
9   57.87  58.024
10  57.87  58.086
11  57.50  57.936
12  56.50  57.711
13  56.62  57.498
14  57.50  57.348

In [69]:
high = data['High'].values
low = data['Low'].values
close=data['Close'].values
k,d=talib.STOCH(high,low,close)
df=pd.DataFrame(data={'k':k,'d':d},index=data.Date)
df['j']=3*df['k'] - 2*df['d']
df[-10:]

                    d          k           j
Date
2016-08-24  47.759364  21.967948  -29.614885
2016-08-25  29.346972  17.790838   -5.321430
2016-08-26  20.811457  22.675586   26.403843
2016-08-29  26.727020  39.714637   65.689871
2016-08-30  38.710995  53.742763   83.806299
2016-08-31  46.762880  46.831239   46.967958
2016-09-01  52.164246  55.918736   63.427717
2016-09-02  54.461898  60.635718   72.983360
2016-09-06  68.296808  88.335970  128.414294
2016-09-07  78.883731  87.679505  105.271052

In [70]:
#使用除权的价格计算出来的值跟不除权计算的价格基本是一样的
high = data['Adj. High'].values
low = data['Adj. Low'].values
close=data['Adj. Close'].values
k,d=talib.STOCH(high,low,close)
df2=pd.DataFrame(data={'k':k,'d':d},index=data.Date)
df2['j']=3*df2['k'] - 2*df2['d']
df2[-10:]

                    d          k           j
Date
2016-08-24  47.759364  21.967948  -29.614885
2016-08-25  29.346972  17.790838   -5.321430
2016-08-26  20.811457  22.675586   26.403843
2016-08-29  26.727020  39.714637   65.689871
2016-08-30  38.710995  53.742763   83.806299
2016-08-31  46.762880  46.831239   46.967958
2016-09-01  52.164246  55.918736   63.427717
2016-09-02  54.461898  60.635718   72.983360
2016-09-06  68.296808  88.335970  128.414294
2016-09-07  78.883731  87.679505  105.271052

In [75]:
df['j'][-1]

105.27105189967008

In [77]:
df2['j'][-1]

105.27105189966935

In [144]:
code='WY'
nums=30
firstc = code[0]
data=pd.read_sql(sql="select * from prices_%s where code='%s'" % (firstc,code),con=db.session.connection())
high = data['High'].values
low = data['Low'].values
close=data['Close'].values
k,d=talib.STOCH(high,low,close)
df=pd.DataFrame(data={'k':k,'d':d},index=data.Date)
df['j']=3*df['k'] - 2*df['d']
df[-10:]

# fig=plt.figure(figsize=(10,10))
# ax1=fig.add_subplot(2,1,1)
# ax2=fig.add_subplot(2,1,2)
# tm=df[-nums:][['k','d']]
# tm.plot(ax=ax2)
# data[-nums:]['Close'].plot(ax=ax1)

                    d          k          j
Date
2016-09-02  82.352152  78.566690  70.995766
2016-09-06  78.897607  70.886364  54.863878
2016-09-07  67.187363  52.109034  21.952377
2016-09-08  54.913316  41.744548  15.407014
2016-09-09  38.029191  20.233991 -15.356409
2016-09-12  28.186538  22.581074  11.370147
2016-09-13  19.048010  14.328965   4.890875
2016-09-14  17.536458  15.699335  12.025090
2016-09-15  14.202369  12.578807   9.331683
2016-09-16  14.954421  16.585119  19.846516

In [145]:
(14.328965+15.699335+12.578807)/3

14.202369

In [117]:
#删选方法，K在20左右向上交叉D时，视为买进信号
# k是rsv（未成熟随机指标值）的指数移动平均线，d是k的指数移动平均线。rsv小于50时表示收盘价
# 更加接近于最低价，所以k在20左右向上交叉d表示此时价位较低（9日来看的话） 且具有增长的动量。
alllen = len(config.codes)
count = 0
choose=[]
for code in config.codes:
    code = code.replace('WIKI/','')
    firstc = code[0]
    sql = 'select * from prices_%s where code="%s"' % (firstc, code)
    daily_data=pd.read_sql(sql,db.session.connection())
    high = daily_data['High'].values
    low = daily_data['Low'].values
    close=daily_data['Close'].values
    k,d=talib.STOCH(high,low,close)
    df=pd.DataFrame(data={'k':k,'d':d},index=daily_data.Date)
    df['j']=3*df['k'] - 2*df['d']
    if df['k'][-1]<=25 and df['k'][-1] > df['d'][-1] \
         and df['k'][-2] < df['d'][-2]:
            choose.append(code)
            print '\n%s k线上穿d线' % code
    count+=1
    if count%10==0:
        sys.stdout.write("\r%.2f%%" % (float(count)/alllen*100))
        sys.stdout.flush()

0.31%WY k线上穿d线
NICK k线上穿d线
0.94%WWD k线上穿d线
1.57%REXR k线上穿d线
DHT k线上穿d线
1.89%

KeyboardInterrupt:

'\r10%'